<div class="wrapper">
    <div class= "bg-colored text-center">
    <div class="container">
    <div class="span12">
    <h1><%= @restaurant.name %></h1>
    <%= link_to "Go back", restaurants_path %>
    </div>
    </div>
    </div> 
    </div>

    <div class="container">
    <div class="span12">
<p><%= @restaurant.address %></p>
<h2><%= @restaurant.description %></h2>
<p><%= link_to 'Check out their website', @restaurant.url, class: 'btn btn-default' %>

<h3>Pickups:</h3>
<%= render @restaurant.pickups %>
</div>
</div>
</div>
